.banner{
	background-image: linear-gradient(500deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 50%), url("../../image/background1.jpg");
	color: white;
	background-size: cover;
	padding:111px 0px; 
	background-position: center;

}

.banner h1{
	font-size: 50px;
}

.banner h2{
	font-size: 30px;
	margin-bottom: 56px;
	font-family: 'Homemade Apple', cursive;
}
